#pageBody {
    /*background-color: #476BB2;*/
}

#canvas1, #canvas2, #canvas3 {
    border: 10px solid #000000;
}

#spinDiv {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    background-size: auto;
    float: right;
    margin: 10% 5% 40% 0;
    height: 60%;
    top: 0;
}

.canvasClass {
    position: relative;
    border : 10px solid #000000;;
}

#hSpin {
}

#bet {
    position: relative;
    font-size: 50px;
}

#money {
    position: relative;
}

#moneyName {
    position: relative;
}

#upBetDiv {
    position: relative;
}

#upImg {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 1% 10% 1% 10%;
}

#downBetDiv {
    position: relative;
    background-size: 100%;
}

#downImg {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 1% 10% 1% 10%;
}

#betName {
    position: relative;
    margin: 2%;
    min-width: 60px;
    min-height: 40px;
}

#betValue {
    position: relative;
    background-color: brown;
}

#pBetValue {
    font-size: 50px;
    margin: 5%;

}

#pMoneyValue {
    font-size: 60px;
    margin: 5%;
    overflow: auto;
}

#creditWon {
    position: relative;
    min-width: 275px;
    min-height: 80px;
    width: 35%;
    margin: 1%;
    border: 5px solid #000000;

}

#creditWon p {
    font-size: 30px;
}

#add100Credit {
    position: relative;
    min-width: 150px;
    min-height: 80px;
    width: 55%;
    margin: 1%;
}

#add100Credit button {
    position: relative;
    width: 50%;
    height: 100%;
    min-width: 50px;
    min-height: 80px;
    margin: 1% 1% 1% 40%;
    font-size: 30px;
}

#name_div {
    position: relative;
    margin: 5% 5% 10% 5%;
    min-width: 150px;
    min-height: 50px;
    max-height: 60px;
    max-width: 300px;
}

#myGif {
    width: 100px;
    height: 100px;
    margin: 2% 1%;
}

#h2_name {
    color: red;
    font-size: 50px;
    height: 100px;
    overflow: auto;
    min-width: 150px;
    min-height: 50px;
    max-height: 60px;
    max-width: 300px;
}

.hidden {
    display: none;
}

.container {

}

.container div {
    display: inline-block;
}

.container div h2 {
    display: table-cell;
}

.container div.con {
    display: inline-table;
}

#mainDiv {
    position: relative;
    width: 100%;
    display : inline-block;
    min-width: 1650px;

}

#leftDiv {
    position: relative;
    margin: 1%;
    width: 20%;
    min-width: 250px;
    height: 80%;
}

#leftDiv div {
    display: table-row;
}

#rightDiv div {
    display: block;
}

#centerDiv {
    position: relative;
    margin: 2%;
    width: 50%;
    min-height: 300px;
    min-width: 900px;
}

#rightDiv {
    position: relative;
    margin: 2%;
    min-width: 230px;
    height: 80%;
}

.name {
    position: relative;
    margin-bottom: 1%;
    color: lightsteelblue;
    vertical-align: middle;
    font-size: 30px;
}

#environment {
    height: 200px;
}

#bottomContainer {
    width: 100%;
    margin: 1%;
}

#topContainer {
    width: 90%;
    margin: 2%
}

.con {
    width: 30%;
}

.con div {
    display: block;
}

#centralContainer {

}

.backgroundChanger {
    width: 100px;
    height: 100px;
    margin: 1% 1% 5% 1%;
    display: block;
    opacity: 0.2;
}